
* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Arial", sans-serif;
  }
  /* the main container*/
  .main-container {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  /*  Containers with info  */
  .container-info {
    padding: 15px 0;
  }
  .link a{
    color:rgb(66, 141, 129);
    text-decoration: none;
  }
  .link a:hover{
    text-decoration: underline;
  }
  .container-info h3 {
    font-size: 19px;
  }
  /* Contact-info */
  .blackquote {
    padding: 20px 0 0 50px;
  }
  .blackquote::before {
    content: "";
    display: block;
    height: 75px;
    width: 5px;
    background: #ddd;
    float: left;
    position: relative;
    transform: translateX(-40px);
  }
  
  .blackquote ul li {
    color: #534d54;
    padding: 3px 0;
  }
  .goal {
    font-size: 16px;
  }
  .about-me-info {
    padding: 16px 0 0 0;
  }
  .skills {
    font-size: 16px;
  }
  .image {
    display: block;
    margin: 20px auto;
    height: 600px;
  }
  .education {
    font-size: 16px;
  }
  .english {
    font-size: 16px;
    height: 20px;
  }